<div #liveView
     class="camView">
  @if (cameraService.supports()) {
    <button *ngIf="!cameraService.streamStarted"
            [disabled]="!canEnableCam()"
            (click)="onButtonClick($event)"
            class="enableCamButton">
      {{ modelService.model() ? 'Enable \nWebcam' : 'Wait \nbitch' }}
    </button>
  } @else {
    <p class="noSupport">
      Ohh shit! I'm done, i cannot take it
    </p>
  }

  <div class="videoView">
    <video #webcam
           autoplay
           height="480"
           muted
           playsinline
           width="640">

    </video>

    <div #dots
         [hidden]="!cameraService.streamStarted"
         class="dots">
      <img [attr.src]="dickSrc"
           [attr.width]="picksDimensions[activePic()].width"
           [hidden]="!shouldShowDick()"
           [style.transform]="transform"
           [style.transition-duration.ms]="transitionDuration"
           alt=""
           class="dickPick">

      <div #window
           [style.height.px]="cropWidth"
           [style.left.px]="cropPoint[0]"
           [style.top.px]="cropPoint[1]"
           [style.width.px]="cropWidth"
           class="window">

      </div>
    </div>
  </div>

  <button (click)="changePic()"
          [hidden]="!cameraService.streamStarted"
          class="changeButton">
    Try another dick
  </button>
</div>
