<div #liveView class="camView">
  <button *ngIf="!streamStarted"
          [disabled]="!model"
          (click)="onButtonClick($event)"
          class="enableCamButton">
    Enable Webcam
  </button>

  <video #webcam
         playsinline
         autoplay
         muted
         width="640"
         height="480"></video>

  <div #dots class="dots">
    <img src="./dickpick.png"
         [hidden]="!streamStarted || !dickPickCords.x || !dickPickCords.y"
         [style.left.px]="dickPickCords.x"
         [style.top.px]="dickPickCords.y"
         style="position: absolute"
         alt=""
         width="80">
  </div>
</div>
